body {
    margin: 0;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
#container {
    width: 1920px;
    background-color:black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
#header {
    width: 1920px;
    height: 960px;
    background:
		linear-gradient(to bottom, transparent 79px, #3D3D3D 79px) 0 0 / 1920px 80px repeat-y,
		linear-gradient(to right, transparent 79px, #3D3D3D 79px) 0 0 / 80px 1920px repeat-x
        black;
    position: relative;
}
#background-color-box > div {
    position: absolute;
}
#background-color-box .color-box {
    display: flex;
}
#background-color-box .color-box div {
    width: 79px;
    height: 79px;
    border: 1px solid #3D3D3D;
    border-left: 0px;
    position: static;
}
#background-color-box .color-box div.green {
    background-color: #36FF4A;
}
#background-color-box .color-box div.gray {
    background-color: #2A2A2A;
}
#background-color-box #col1 {
    top: 79px;
}
#background-color-box #col2 {
    top: 159px;
}
#background-color-box #col3 {
    top: 399px;
}
#background-color-box #col4 {
    top: 639px;
}
#background-color-box #col5 {
    top: 719px;
}
#background-color-box #col6 {
    top: 799px;
}
#navigation {
    top: 98px;
    left: 726px;
    width: 453px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 7px;
    gap: 50px;
    border-radius: 51.211px;
    background: #FFF;
    position: absolute;
}
#navigation a {
    height: 19px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 19px;
}
#typography * {
    position: absolute;
}
#typography #questionMark1{
    top: -1px;
    left: 279px;
}
#typography #questionMark2{
    top: 531px;
    right: 344px;
}
#typography #questionMark3{
    top: 693px;
    left: 505px;
}
#typography #ramen {
    top: -1px;
    left: 246px;
    z-index: 1;
}
#typography #chashu {
    top: -395px;
    right: 254px;
}
#typography #latte {
    top: 177px;
    left: 724px;
}
#typography #mix {
    top: 233px;
    right: 724px;
}
#typography #msgr {
    top: 377px;
    left: 610px;
}
#typography #msgrKr {
    top: 343px;
    left: 874px;
    color: #FFF;
    text-align: center;
    font-family: "Pretendard";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
    visibility: hidden;
}
#typography #msgrHitBox {
    top: 372px;
    left: 604px;
    width: 710px;
    height: 130px;
}
#typography #mom {
    top: 563px;
    left: 451px;
}
#typography #momKr {
    top: 548px;
    left: 695px;
    color: #FFF;
    text-align: center;
    font-family: "Pretendard";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    visibility: hidden;
}
#typography #momHitBox {
    top: 559px;
    left: 449px;
    width: 660px;
    height: 85px;
}
#typography #salad {
    top: 743px;
    right: 653px;
}
#typography #saladKr {
    top: 707px;
    right: 745px;
    color: #FFF;
    text-align: center;
    font-family: "Pretendard";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    visibility: hidden;
}
#typography #saladHitBox {
    top: 741px;
    right: 650px;
    width: 380px;
    height: 55px;
}
.info {
    width: 896px;
    border-radius: 30px;
    border: 4px solid #36FF4A;
    color: #CBCBCB;
    font-family: "Pretendard";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1.2px;
    padding: 96px;
    margin: 0 auto;
    position: relative;
}
.info .blue-box {
    width: 1280px;
    height: 195px;
    border-radius: 30px;
    color: #FFF;
    background: #0400B3;
    text-align: center;
    font-family: "Pretendard";
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2px;
    padding-top: 19px;
    position: relative;
    top: -62px;
    left: -192px;
}

.info .blue-box-deco {
    position: relative;
    top: -62px;
    left: -165px;
}
.info .title {
    color: #FFF;
    font-family: "GmarketSans";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.5px;
    margin: 0 0 41px 0;
}
.info > p {
    width: 905px;
}
.info b {
    color: #FFF;
}
#foreignSign {
    top: -120px;
    padding-bottom: 234px;
}
.image-text {
    width: 1288px;
    display: flex;
    align-items: end;
    position: relative;
    margin: 0 auto;
}
.image-text .image {
    width: 644px;
    height: 504px;
}
.image-text .text {
    width: 644px;
    color: #FFF;
    font-family: "Pretendard";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -1.2px;
    margin: 46px 92px;
}
.image-text .text b {
    font-size: 30px;
    letter-spacing: -1.5px;
}
#street {
    top: -300px;
}
#street .text {
    top: -300px;
    margin-bottom: 29px;
}
#menu {
    top: -240px;
    left: 8px;
}
#menu img {
    width: 636px;
}
#issue {
    margin-bottom: 248px;
}
#issue img {
    position: relative;
    top: -113px;
    left: -96px;
    width: 1088px;
}
#sadaejuui {
    margin-bottom: 268px;
}
#footer {
    height: 137px;
    background-color: #0E0E0E;
    color: #707070;
    text-align: center;
    font-family: "Pretendard";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 137px;
    letter-spacing: -1.2px;
}